@model IEnumerable<Lab02.Models.InfoFarmaco>

@{
    ViewData["Title"] = "Upload";
}

<!--Vista para subir el archivo CSV. de inventario-->

<h1>Cargar Datos</h1>
<center><p class="h4">FARMACOS</p></center>
<p></p>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Seleccione archivo csv.</label>
        <input class="form-control" type="file" name="file" id="formfile">
    </div>
    <center> <button type="submit" class="btn btn-outline-primary">Subir</button> </center>
</form>


<!--Dirige a la vista "Pedido" para poder ingresar datos y buscar el producto-->

<p>
    <div class="d-grid gap-2">
        <center>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Pedido", "Home")'" input name="option" type="button">Realizar pedido</button>
        </center>
    </div>
</p>


<div class="text-center">
    <h1 class="display-4">Seleccione estructura de datos a utilizar</h1>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Privacy", "Home")'" input name="option" type="button" id="PreOrden">Indice Pre-Orden</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Privacy", "Home")'" input name="option" type="button" id="InOrden">Indice In-Orden</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Privacy", "Home")'" input name="option" type="button" id="PostOrden">Indice Post-Orden</button>
    </div>


