@model IEnumerable<Lab02.Models.InfoFarmaco>

@{
    ViewData["Title"] = "Ingrese archivo de inventario";
}

<h1>Cargar Datos</h1>
<center><p class="h4">Faarmacos</p></center>
<p></p>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Seleccione archivo csv.</label>
        <input class="form-control" type="file" name="file" id="formfile">
    </div>
    <center> <button type="submit" class="btn btn-outline-primary">Subir</button> </center>
</form>

<div>
    <a asp-action="Add">Añadir Jugador...</a>
</div>