
@{
    ViewData["Title"] = "Pedido";
}

<center><p class="h4">INGRESAR PEDIDO</p></center>

<form method="post">

    <div class="form-floating mb-3">
        <label for="floatingInput">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-floating">
        <label for="floatingInput">Dirección</label>
        <input type="text" class="form-control" name="direccion" placeholder="Direccion">
    </div>
    <div class="form-floating">
        <label for="floatingInput">NIT</label>
        <input type="tel" class="form-control" name="nit" placeholder="NIT">
    </div>

</form>

